<div class="au-xs-ta-center au-lg-ta-left">
    <form class="form" method="POST" action="/portfolio">
    <ul class="rk-menu rk-categories-menu">
        <li id="it-flex" class="rk-menu__item"><button name="flex" type="submit" value="flex" class="btn"><a class="rk-menu__link">Flex</a></button>
        </li>
        <li id="it-switch" class="rk-menu__item"><button name="switch" type="submit" value="switch" class="btn"><a class="rk-menu__link">Switch</a></button>
        </li>
        <li id="it-static" class="rk-menu__item"><button name="static" type="submit" value="static" class="btn"><a class="rk-menu__link">Static</a></button>
        </li>
        <li id="it-masonry" class="rk-menu__item"><button name="masonry" type="submit" value="masonry" class="btn"><a class="rk-menu__link">Masonry</a></button>
        </li>
    </ul>
    </form>
</div>
