<!DOCTYPE html>
<html>
  {{> head }}
  <body class="top-fixed">
    {{> nav }}
    {{> (portfolio) }}
    {{> footer }}
    {{> script }}
    <script src="js/posicion-nav.js"></script>
  </body>
</html>